.root {
    @apply cursor-pointer font-medium text-sm transition-all duration-100 flex items-center gap-1
}
.primary {
    @apply h-12 border-0 bg-primary-main text-white py-3 px-6 rounded-lg hover:bg-primary-main-hover
}
.primary:focus {
    box-shadow: inset 0 0 0 2px rgba(110, 185, 140, 1); 
}
.primary:disabled {
    @apply bg-grey-100 text-black-400;
}

/* // */
.secondary {
    @apply h-12  border border-grey-100 rounded-lg py-3 px-6
}
.secondary:disabled {
    @apply bg-grey-50
}
.secondary:hover {
    @apply bg-grey-50
}
.secondary:focus {
    border-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(233, 233, 233, 1); 
}
/* // */
.secondary-green {
    @apply border border-primary-main-400 rounded-lg py-3 px-6
}
.secondary-green:disabled {
    @apply bg-primary-main-100
}
.secondary-green:hover {
    @apply bg-primary-main-100
}
.secondary-green:focus {
    border-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(110, 185, 140, 1); 
}
.secondary-green:disabled {
    @apply !bg-grey-50 !border-grey-100
}
/* // */
.text {
}
.text:disabled {
    @apply text-black-400
}
.text:hover {
    @apply text-primary-dark;
    .text-start-icon > svg {
        @apply fill-primary-dark
    }
}
.text:focus {
    @apply text-primary-main;
    .text-start-icon > svg {
        @apply fill-primary-main
    }

}
.text-start-icon > svg {
    @apply w-4 h-4 transition-all duration-100
}