/* .root {
    @apply w-full flex items-center relative h-[52px]
}
.root > * {
    transition-property: top, transform, padding, font-size;
    transition-duration: 100ms;
}
.input {
    @apply h-full w-full px-3 border border-grey-100 rounded-lg text-xs font-medium outline-none
}
.input + p {
    @apply text-grey-800
}
.input:focus {
    @apply border-primary-main
}
.input:focus + p {
    @apply text-primary-main
}
.input:hover:not(:focus):not(:disabled) {
    @apply border-grey-200
}
.input:hover:not(:focus):not(:disabled)  + p {
    @apply text-black
}

.error {
    @apply !border-error text-error
}
.error + p {
    @apply !text-error;
}

.input-primary {
    @apply  pt-3.5
}
.input-primary:focus+p {
    @apply top-[16px] text-[10px];
}
.input-primary:not(:placeholder-shown)+p{
    @apply top-[16px] text-[10px];
}
.label-primary {
    @apply font-medium text-xs absolute px-3  top-[50%] translate-y-[-50%]
}

.label-secondary {
    @apply font-medium text-xs absolute top-[50%] translate-y-[-50%] left-2 px-1.5;
}
.input-secondary:focus+p {
    @apply top-[0] text-[10px];
}
.input-secondary:not(:placeholder-shown)+p{
    @apply top-[0] text-[10px];
}

.label-secondary::after {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    height: 100%;
    @apply left-0 px-1
}
 */
