@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth!important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leaflet-marker-icon {
  background-color: transparent;
  border: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dropdown-select:focus, .dropdown-select .select__control input:focus {
      font-size: 1.8vh;
   }
 }

 .slick-list { margin: 0 -7px; & .slick-slide > div { padding: 0 10px; height: 100%; } }

 .slick-track {
  display: flex !important;
  align-items: center;
 }


 div[data-radix-popper-content-wrapper] {
  display: flex;
  z-index: var(--radix-popper-zIndex) !important;
  --radix-popper-zIndex: 20
 }


 .volt-tooltip-gradient::after {
  background-image: linear-gradient(98.39deg, #17DC66 -6.77%, #06481D 112.7%);
 }



 @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
