@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: static !important;
  display: flex;
  margin-top: 32px;
}

.cover-slider-bullets {
  width: 8px;
  height: 8px;
  text-align: center;
  line-height: 8px;
  font-size: 12px;
  color: #000;
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.6) !important;
  margin-right: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.cover-slider-bullets-active {
  color: #fff;
  background: #007aff;
  width: 30px !important;
  border-radius: 8px !important;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 1) !important;

}

.leaflet-marker-icon {
  background-color: transparent;
  border: 0;
}

/* .simplebar-content-wrapper {
  @apply rounded-xl !grid
}


.selecting {
  @apply relative after:content-[''] after:block after:w-full after:h-full 
  after:absolute after:top-0 after:bg-black-100 after:rounded-2xl cursor-pointer;
  @apply relative before:content-[''] before:block before:w-6 before:h-6 before:absolute before:top-6 before:right-6  before:bg-white
  before:rounded-full before:border-2 before:border-primary-main-800
}

.selected {
  @apply before:outline before:outline-4 before:-outline-offset-[6px] before:outline-white before:bg-primary-main before:border-primary-main after:bg-black-200
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


@media screen and (max-width: 599px) {
  input, select, textarea {
    font-size: 16px;
  }
}